.form-login {
  form {
    width: 300px;
    margin: 4em auto;
    padding: 0 2em 2em 2em;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
    text-align: center;

    button {
      font-size: 30px;
    }
  }
}
