<div class="form-login">
    <form>
        <h3 class="md-title">Choose login provider</h3>

        <md-button class="md-fab" aria-label="Log in with Facebook account"
            data-ng-click="vm.login('facebook')"
        >
            <md-tooltip>
                Log in with Facebook account
            </md-tooltip>

            <i class="mdi mdi-facebook-box"></i>
        </md-button>

        <md-button class="md-fab" aria-label="Log in with Twitter account"
            data-ng-click="vm.login('twitter')"
        >
            <md-tooltip>
                Log in with Twitter account
            </md-tooltip>

            <i class="mdi mdi-twitter-box md-title"></i>
        </md-button>

        <md-button class="md-fab" aria-label="Log in with GitHub account"
            data-ng-click="vm.login('github')"
        >
            <md-tooltip>
                Log in with GitHub account
            </md-tooltip>

            <i class="mdi mdi-github-box"></i>
        </md-button>

        <md-button class="md-fab" aria-label="Log in with Google account"
            data-ng-click="vm.login('google')"
        >
            <md-tooltip>
                Log in with Google account
            </md-tooltip>

            <i class="mdi mdi-google-plus-box"></i>
        </md-button>
    </form>
</div>
