<md-toolbar>
    <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <md-button aria-label="Github"
            href="https://github.com/tarlepp/Angular-Firebase-Material-Demo"
        >
            <i class="mdi mdi-github-circle"></i>

            GitHub
        </md-button>

        <md-button aria-label="Issues"
            href="https://github.com/tarlepp/Angular-Firebase-Material-Demo/issues"
        >
            <i class="mdi mdi-bug"></i>

            Issues
        </md-button>

        <md-button aria-label="Tarmo Leppänen"
            href="https://github.com/tarlepp"
        >
            <i class="mdi mdi-human"></i>

            Tarmo Leppänen
        </md-button>
    </div>
</md-toolbar>